.loginContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* LEFT SECTION */

.leftSection {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/bg_hackatweet.png');
  background-size: cover;
  background-position: center;
}

/* RIGHT SECTION */

.rightSection {
  flex: 1.8;
  background-color: #0A1216;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}

.twitterIcon {
  font-size: 45px;
}

.mainTitle {
  font-size: 80px;
  font-weight: bold;
  margin: 60px 0;
}

.secondTitle {
  font-size: 35px;
  margin-bottom: 50px;
}

.haveAccount {
  margin: 15px 0;
  font-weight: bold;
  font-size: 15px;
}

/* MODAL SECTION */
.modalContainer {
  display: flex;
  gap: 30px
}

.regiterContainer {
  margin-top: 80px;
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: #15202B;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.faXmarkIcon {
  align-self: self-end;
  cursor: pointer;
}

.registerSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.registerSection h2 {
  font-size: 18px;
}

.registerSection input {
  width: 60%;
  background-color: #15202B;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #ffffff;
}

.signupBtn {
  width: 60%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #15202B;
  border: none;
  border-radius: 20px;
  padding: 10px 60px;
  cursor: pointer;
}

.signupBtn:hover {
  opacity: 0.8;
}

.signinBtn {
  width: 60%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #15202B;
  border: none;
  border-radius: 20px;
  padding: 10px 60px;
  cursor: pointer;
}

.signinBtn:hover {
  opacity: 0.8;
}