.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;

  background-color: #0A1216;
}

/* LEFT SECTION */

.leftSection {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
}

.twitterIcon {
  font-size: 45px;
}

.userInfo {
  display: flex;
  margin-bottom: 25px;
}

.userImage {
  border-radius: 50%;
}

.userDetails {
  margin-left: 20px;
}

.username {
  font-weight: bold;
  margin-bottom: 3px;
}

.logoutBtn {
  color: #ffffff;
  background-color: transparent;
  padding: 10px 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.logoutBtn {
  opacity: 0.8;
}

.small {
  color: rgba(255, 255, 255, 0.3);
}

/* MIDDLE SECTION */

.middleSection {
  flex: 2;
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.homeTitle {
  margin-bottom: 30px;
}

.tweetList {
  height: calc(100vh - 120px);
  overflow-y: auto;
  padding-right: 8px;
}

/* RIGHT SECTION */

.rightSection {
  flex: 1.2;
  padding: 20px;
}