.trendsContainer {
  width: 90%;
  margin: 0 auto;
  background-color: #15202B;
  margin-top: 60px;
  padding: 20px;
  border-radius: 8px;
}

.trendsHashtagContainer {
  display: flex;
  flex-direction: column;
}

.trendsHashtag {
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.tweetCounts {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}