* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mont-Heavy';
  src: url('/fonts/Mont-Heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Verdana, sans-serif;
  color: #fff;
}

input:focus {
  outline: none;
}